<tbody>
<tr>
  <td class="align-middle">
    <h4>
      <%#= image_tag(badge_image(badge), class: 'img-icon') %>
      <p class="label label-primary", style="color: white;"><%= badge.title %></p>
    </h4>
  </td>
</tr>
</tbody>