<tbody>
<tr>
  <td class="align-middle">
    <h4>
      <%= image_tag(badge_image(user_badge), class: 'img-icon') %>
      <p class='<%= badge_color(user_badge.rule_type) %>', style="color: white;"><%= user_badge.title %></p>
    </h4>
  </td>
</tr>
</tbody>