<h1><%= t('.header', title: @test_passage.test.title ) %></h1>

<% if @test_passage.success? %>
  <h2 style="color: green"><%= t('.congratulations') %></h2>
<% else %>
  <h2 style="color: red"><%= t('.lose') %></h2>
<% end %>

<%= link_to t('.back'), tests_path %>